/* Search Div */
.split .container .search {
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  gap: 5px;
  cursor: pointer;
}

.split > .container > p {
  margin: 30px 0;
  font-size: 30px;
  font-weight: bold;
}

.split .container .search input[type="search"] {
  border: none;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 18px;
}
/* Search Div */
