@media (max-width: 991px) {
  .split > .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}

/* Search Div */
.split .container .search {
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  gap: 5px;
  cursor: pointer;
}

.split > .container > p {
  margin: 30px 0;
  font-size: 30px;
  font-weight: bold;
}

.split .container .search input[type="search"] {
  border: none;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 18px;
}
/* Search Div */

/* table */

.appointments-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.appointments-table th {
  background-color: black;
  color: white;
  text-align: right;
  padding: 12px;
  font-size: 16px;
}

.appointments-table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.appointments-table tr:hover {
  background-color: #f1f1f1;
}
/* table */
